<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello From Html</title>
</head>
<body data-ng-app="unicornsApp">
  <main data-ng-controller="unicornsController" data-ng-init="getAll()">
    <h1>Notes:</h1>
    <form>
      <label for="unicornBody">New Unicorn</label>
      <input type="text" id="unicornBody" data-ng-model="newUnicorn.unicornName">
      <button type="submit" data-ng-click="create(newUnicorn)">Save New Unicorns</button>
    </form>
    <ul data-ng-repeat="unicorn in unicorns">
      <li>
        {{unicorn.unicornName}}
        <form data-ng-if="unicorn.editing">
          <label for="unicorn{{unicorn.id}}"></label>
          <input type="text" id="unicorn{{unicorn._id}}" data-ng-model="unicorn.unicornName">
          <button type="submit" data-ng-click="save(unicorn)">Save Changes</button>
          <button type="button" data-ng-click="editToggle(unicorn)">Cancel</button>
        </form>
        <button data-ng-click="editToggle(unicorn)" data-ng-if="!unicorn.editing">Edit Unicorn</button>
        <button data-ng-click="remove(unicorn)">Delete Unicorn</button>
      </li>
    </ul> 
  </main>

  <script src="bundle.js"></script>
</body>
</html>